
/fastapi_project/app/__pycache__
/fastapi_project/app/core/__pycache__
/fastapi_project/app/models/__pycache__
/fastapi_project/app/schemas/__pycache__
/fastapi_project/app/routers/__pycache__
/fastapi_project/app/services/__pycache__
/fastshop-frontend/node_modules
/fastshop-frontend/.next
/node_modules
/fastapi_project/app/crud/__pycache__
/fastapi_project/app/api/__pycache__
/fastapi_project/app/api/v1/__pycache__
/fastapi_project/app/api/v1/endpoints/__pycache__
